---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import Hero from "@components/homepage/hero/Hero.astro";
import Experience from "@components/homepage/experience/Experience.astro";
import Form from "@components/homepage/form/Form.astro";
import Footer from "@components/global/footer/Footer.astro";
---

<Layout
  title="Danylo Sokol - portfolio website"
  description="A personal portfolio website"
>
  <main>
    <Hero />
    <Experience />
    <Form />
    <Footer />
  </main>
</Layout>
