---
import Navbar from "@components/global/navbar/Navbar.astro";
import "@fontsource/inter/latin-400.css";
import "@fontsource/inter/latin-700.css";
import "@/styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta property="og:image" content="URL OF IMAGE ONLY" />
    <meta name="viewport" content="/opengraph-image.png" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head><body class="bg-primary text-white">
    <Navbar />
    <main>
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
